<div class="container">
    <form>
        <h1 class="form-title">Login</h1>
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="text" placeholder="Enter Email">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" placeholder="Enter Password">
        </div>
        <div class="form-control">
            <input class = "button" type="submit" value="Login">
        </div>
        <a routerLink="/signup">New User? Create account now!</a>
    </form>
</div>